[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "==1.0.0"
nbdev = "==0.2.18"
jupyterlab = "==2.1.4"
twine = "==3.1.1"
netdata-pandas = {editable = true, path = "."}

[packages]
pandas = "==1.0.4"
asks = "==2.3.7"
trio = "==0.17.0"
requests = "==2.23.0"
anyio = "==1.4.0"
nbdev = "==0.2.18"

[requires]
python_version = "3.8"
